:root{
    --font: "Rubik", sans-serif;
    --color-a: #000;
    --color-b: #4a4b4c;
    --color-c: #5e5f61;
    --color-d: #7f7f7f;
    --color-e: #555;
    --color-f: #eaeaea;
    --color-g: #F6F6F6;
    --color-h: #7296EC;
    --color-i: #2959ce;
    --color-j: #7297EF;
    --color-k: #f6f6f6;
    --color-l: #8d8d8d;
    --color-m: #7296ec;
    --color-n: #fff;
    --color-p: #d2d2d2;
}